import React from "react";
import PropTypes from "prop-types";
import styles from "./styles.module.css";

const {{name}} = (props) => {
  return (
      <div className={styles.root}>{{name}}</div>
  );
};

{{name}}.propTypes = {
  children: PropTypes.any,
};

export default {{name}};
