import React, { useEffect } from "react";
import { pageNameState } from "store/atoms";
import { useRecoilState } from "recoil";
import classes from "./styles.module.css";

const {{name}} = (props) => {
  const [pageName, setPageName] = useRecoilState(pageNameState)
  useEffect(() => {
    setPageName("{{name}}");
  }, []);
  return (
    <>
      <div className={classes.root}>
        {pageName}
      </div>
    </>
  );
};

export default {{name}};
